<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- <clear /> -->
        <add key="Module1"
            value="https://pkgs.dev.azure.com/POLE-ERP-GROUPEISA/Neos-Public/_packaging/Neos-Public/nuget/v3/index.json" />
        <add key="Neos-Modules"
            value="https://pkgs.dev.azure.com/POLE-ERP-GROUPEISA/Neos-Public/_packaging/Neos-Modules/nuget/v3/index.json" />
    </packageSources>
</configuration>